# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# This won't be added again if you remove it.
Include ~/.orbstack/ssh/config

Host devapp
  User eford
  ForwardAgent yes
  HostName devrestricted-eford.ec2.pin220.com

Host devrestricted
  User eford
  ForwardAgent yes
  HostName devrestricted-eford.ec2.pin220.com

Host phabricator.pinadmin.com
  IdentityFile ~/.ssh/id_ed25519
  IdentityFile ~/.ssh/id_rsa
  IdentitiesOnly yes

Host *
  UseKeychain yes
  AddKeysToAgent yes

CheckHostIP no
ServerAliveInterval 240
ServerAliveCountMax 10