.DS_Store
fish/fish_variables
ssh/id_*
ssh/*.pub
ssh/known_hosts
ssh/known_hosts.old
nix/result
.direnv

# Ignore the vast majority of Claude Code configs
claude/backups
claude/cache
claude/file-history
claude/history.jsonl
claude/ide
claude/plans
claude/projects/**
!claude/projects/-Users-ellie--dotfiles/
!claude/projects/-Users-ellie--dotfiles/memory/
!claude/projects/-Users-ellie--dotfiles/memory/**
!claude/projects/-Users-eford--dotfiles
claude/session-env
claude/sessions
claude/shell-snapshots
